.thanks-container {
    text-align: center;
}

.thanks-container h2 {
    margin-bottom: 1rem;
}

.thanks-container p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

.thanks-container h3 {
    margin: 1rem 0;
    line-height: 1.3;
}

.review-data {
    text-align: left;
}

.review-data svg {
    margin-left: 5px;
}

.review-data span {
    font-weight: bold;
}

/* Responsive */

@media(max-width: 425px) {
    .thanks-container h2 {
        font-size: 20px;
    }

    .thanks-container h3 {
        font-size: 18px;
    }
}